.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Quiz {
  width: 600px;
  height: 550px;
  border-radius: 10px;
  background-color: rgb(224, 180, 113);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assesst/quiz.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 900px;
}

.Menu {
  width: 500px;
  height: 550px;
  border-radius: 10px;
  background-color: rgb(224, 180, 113);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assesst/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 900px;
}

.EndScreen {
  width: 500px;
  height: 550px;
  border-radius: 10px;
  background-color: rgb(224, 180, 113);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assesst/cong.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
}

.Menu button {
  width: 300px;
  height: 80px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  background-color:rgb(178, 140, 80);
}

.EndScreen button {
  width: 150px;
  height: 30px;
  margin-top: 110px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color:rgb(178, 140, 80);
}

.Quiz button{
  width: 300px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.next button {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  background-color: rgb(195, 153, 87);
}

.finish button {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  background-color: rgb(195, 153, 87);
}

.restart {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  background-color: rgb(193, 110, 82);
}

button:hover {
  cursor: pointer;
  background-color: rgb(208, 104, 35);
}

.Menu,
.Quiz,
.EndScreen {
  color:rgb(246, 199, 166);
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.question {
  text-align: center;
  margin-bottom: 20px;
}